html, body {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

.nav {
  width: 100%;
  position: fixed;
  top: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: var(--fontsize);
  font: var(--fonttype);
}

.nav li a:hover {
  background-color: #111;
}

.nav li a.active {
  background-color: #4CAF50;
}

.adapt {
  height: 90%; /* fixed scroll */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.adapt div {
  margin: 1em;
  text-align: center;
}

input {
  max-width: 30em;
  font-size: var(--fontsize);
  font: var(--fonttype);
  height: 4em;
  text-align: center;
  width: 100%;
  border: 0;
  padding: 0;
  border-radius: var(--borderradius);
  box-shadow: 0 1px 1px 0 #999, inset 0px 3px 3px 0px #ddd;
}

button {
  max-width: 30em;
  height: 3em;
  width: 15em;
  font-size: var(--fontsize);
  font: var(--fonttype);
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: var(--borderradius);
  box-shadow: 0 4px #999;
}

button:hover {
  background-color: #3e8e41
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 4px #666;
  transform: translateY(2px);
}

*:focus {
  outline: none !important;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

.message {
  opacity: 0;
  width: 150px;
  height: 50px;
  margin-top: -25px;
  margin-left: -75px;
  display: block;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: var(--borderradius);
  font-size: var(--fontsize);
}

.fade-in {
  animation-name: fadeInOut;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 2s;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0
  }

  50% {
    opacity: 0.8
  }

}

.glass {
  background: #abbaab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.glass.height {
  height: 100%;
}

.list {
  font-size: var(--fontsize);
  font: var(--fonttype);
  margin: 0.5em;
  padding: 0.7em;
  background-color: white;
  border-radius: var(--borderradius);
  box-shadow: 0 2px 2px 0 #999;
}

:root {
  --fontsize: 1em;
  --fonttype: 12pt/10pt sans-serif;
  --borderradius: 15px;
}
