{% extends "base.html" %}
{% block script %}
  function clear_value(elem) {
    elem.value = null;
  }

  function show_flashed() {
    var message = document.getElementsByClassName("message")[0];
    if (message != null) {
      message.classList.toggle("fade-in");
    }
  }

  set_navigated("add");
  on_load(show_flashed);
{% endblock %}
{% block body %}
  <form method="post" autocomplete="off" class="adapt">
    <div>
      <input type="text" onclick="clear_value(this)" name="word" placeholder="Гришинский">
    </div>
    <div>
      <input type="text" onclick="clear_value(this)" name="synonym" placeholder="Русский">
    </div>
    <div>
      <button type="submit">Добавить</button>
    </div>
  </form>
  {% with messages = get_flashed_messages() %}
    {% for message in messages %}
      <div class="message">{{ message }}</div>
    {% endfor %}
  {% endwith %}
{% endblock %}