<!DOCTYPE html>
<html lang="ru" style="{{ html_body_style }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script type="text/javascript">
      function on_load(func) {
        window.addEventListener("load", func);
      }

      function set_navigated(id) {
        on_load(function() {
            document.getElementById(id).className = "active";
        });
      }
      {% block script %}
      {% endblock %}
    </script>
  </head>
  <body class="glass" style="{{ html_body_style }}">
    <div style="height: 40px"></div> {#  fixed scroll  #}
    <ul class="nav">
      <li><a id="add" href="/">Добавить</a></li>
      <li><a id="list" href="/list">Список</a></li>
      <li><a id="quote" href="">Цитата</a></li>
    </ul>
    {% block body %}
    {% endblock %}
  </body>
</html>