<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script type="text/javascript">
      function on_load(func) {
        window.addEventListener("load", func);
      }

      function set_navigated(id) {
        element_by_id(id).className = "active";
      }

      function expand_height() {
        document.documentElement.style.height = "100%";
        document.body.style.height = "100%";
      }

      function element_by_id(id) {
        return document.getElementById(id);
      }
      {% block script %}
      {% endblock %}
    </script>
  </head>
  <body class="glass">
    <div style="height: 40px"></div> {#  fixed scroll  #}
    <ul class="nav">
      <li><a id="add" href="/">Добавить</a></li>
      <li><a id="list" href="/list">Список</a></li>
      <li><a id="quote" href="">Цитата</a></li>
    </ul>
    {% block body %}
    {% endblock %}
  </body>
</html>